{% load i18n %}
<nav class="subnav" aria-label="{% trans 'Разделы кабинета' %}">
  <a href="{% url 'account' %}" class="{% if cabinet_tab == 'overview' %}is-active{% endif %}">{% trans "Обзор" %}</a>
  <a href="{% url 'account_favorites' %}" class="{% if cabinet_tab == 'favorites' %}is-active{% endif %}">{% trans "Избранное" %}</a>
  <a href="{% url 'account_views' %}" class="{% if cabinet_tab == 'views' %}is-active{% endif %}">{% trans "Сохранённые виды" %}</a>
  <a href="{% url 'account_activity' %}" class="{% if cabinet_tab == 'activity' %}is-active{% endif %}">{% trans "Активность" %}</a>
  <a href="{% url 'account_exports' %}" class="{% if cabinet_tab == 'exports' %}is-active{% endif %}">{% trans "История экспортов" %}</a>
  <a href="{% url 'account_profile' %}" class="{% if cabinet_tab == 'profile' %}is-active{% endif %}">{% trans "Профиль" %}</a>
  <a href="{% url 'account_password' %}" class="{% if cabinet_tab == 'password' %}is-active{% endif %}">{% trans "Смена пароля" %}</a>
</nav>
